
// Color system

$white: #fff;
$gray-100: #f8fafb;
$gray-200: #eaeeef;
$gray-300: #ced3d6;
$gray-400: #a9afb3;
$gray-500: #878d91;
$gray-600: #4d5256;
$black: #363a3c;
$red: #d3121a;
$green: #04959a;

$primary: $red;
$secondary: $green;